# Backend - Spring Boot
backend/HELP.md
backend/target/
backend/!.mvn/wrapper/maven-wrapper.jar
backend/!**/src/main/**/target/
backend/!**/src/test/**/target/
backend/.mvn/
backend/mvnw
backend/mvnw.cmd

### STS ###
backend/.apt_generated
backend/.classpath
backend/.factorypath
backend/.project
backend/.settings
backend/.springBeans
backend/.sts4-cache

### IntelliJ IDEA ###
backend/.idea
backend/*.iws
backend/*.iml
backend/*.ipr

### NetBeans ###
backend/nbproject/private/
backend/nbbuild/
backend/dist/
backend/nbdist/
backend/.nb-gradle/
backend/build/
backend/!**/src/main/**/build/
backend/!**/src/test/**/build/

### VS Code ###
backend/.vscode/

# Frontend - React
frontend/node_modules/
frontend/.pnp
frontend/.pnp.js

# testing
frontend/coverage/

# production
frontend/build/

# misc
frontend/.DS_Store
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/.env

frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# IDE specific files
frontend/.idea/
frontend/.vscode/
frontend/*.swp
frontend/*.swo

# General
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.log